// Core variables and mixins bourbon
@import "bourbon";
/* Module */
.header{box-shadow:0px 2px 4px rgba(0,0,0,0.16);
	nav{
		#navbarSupportedContent{
			ul.navbar-nav{
				li.nav-item{
					a.nav-link{padding-right:20px ;padding-left:20px;}
				}
			}
		}
	}
}
.module-banner{
	span.img{display:block;background-position:center center; background-repeat:no-repeat;background-size: cover;
		&::after{display: block;content: '';padding-top:41.66%}
	}
	&.is-tiny{
		span.img{
			&::after{padding-top:29%;}
		}
	}
}
.content-body{position:relative;padding-top:100px;
	&:after{z-index:1;content:'';@include position(absolute, 0 0 null 0);width:100%;height:100%;background-image:url(../images/img_after.png);background-repeat: no-repeat;background-size:cover;}
	.container{position: relative;z-index: 2;}
}
.heading{border:none;
	.title{
		font-size:54px;font-weight:800;color:#ED1D24;position:relative;
		span{z-index:-1;width:max-content;
			position:absolute;left:-10px;bottom:0;font-size:120px;color:#DFDFDF;font-weight: 800;
		}
	}
}
.wrap-buttonSeemore{
	margin-top:30px;
	a{transition:all 400ms ease;background-color:#ED1D24;color:#fff;font-size:18px;font-weight:600;text-align:center;height:44px;@include padding(12px 20px);border-radius:4px;text-decoration:inherit;
		&:hover{box-shadow:10px 10px 15px rgba(0,0,0,0.2);}
	}
}
.module-product{margin-bottom:150px;
	.heading{border:none;
		.title{
			font-size:54px;font-weight:800;color:#ED1D24;position:relative;
			span{z-index:-1;
				position:absolute;left:-10px;bottom:0;font-size:120px;color:#DFDFDF;font-weight: 800;
			}
		}
	}
	.context-product{margin-top:20px;
		ul.product-list{
			li.item-product{margin-bottom:20px;
				.item-product_content{color:inherit;text-decoration:inherit;background:#fff;box-shadow:0px 3px 10px rgba(0,0,0,0.16);border-radius:4px;display:flex; flex-direction:column; align-items: center;@include padding(20px 10px);height:100%;
					h3{font-size:24px;color:#141414;font-weight:700;}
					img.img-product{display:block;margin-top:15px;margin-bottom:10px;}
					.block-energy{background:tint(#141414,50%);@include padding(2px 5px);font-size:0.688em;color:#fff;border-radius:20px;}
					.price-product{margin-top:25px;font-size:0.938em;
						.num{font-weight: bold;margin-left:5px;}
						span{font-weight:bold;}
					}
				}
			}
		}
	}
}
.module-table-price{
	.context-table-price{margin-top:20px;
		ul.table-price-list{margin-bottom:60px;
			li.item{margin-bottom:40px;
				.item-content{background-color:#fff;border-radius:4px;box-shadow:0px 3px 10px rgba(0,0,0,0.16);
					.item-content_head{display:flex;flex-direction:column;justify-content:center;@include padding(20px 30px);
						h3{font-size:24px;color:#141414;font-weight:700;text-align:center;margin-top:20px;}
					}
					
					.item-content_body{position: relative;
						
						.label{background:tint(#141414,50%);
							span{display:block;width:33.333%;text-align: center;color:#fff;font-size:18px;@include padding(10px 10px);font-weight: 700;}
						}
						.list{
							.item{display:flex;border-bottom:1px solid rgba(0,0,0,0.16);
								&:last-child{border:none;}
								.name,.price,.km{width:33.333%;text-align:center;@include padding(10px 10px);
									position: relative;
									p{margin-bottom:0}
									.eJOY__extension_root_class{display:none !important}
									&:after{content:'';position:absolute;width:1px;height:100%;top:0;right:0;transform: translateX(-50%);background:rgba(0,0,0,0.16);}
								}
							}
						}
					}
				}
			}
		}
	}
}
.form-register{
	input,textarea{background-color:tint(#141414,86%) !important;}
	.btn-submit{background-color:#ED1D24;color:#fff;}
}
.module-contact{
	.context-contact{margin-top:40px;padding-bottom:40px;
		h2{font-size:18px;font-weight:bold;color:#ED1D24;margin-bottom:20px;}
		p{margin-bottom:0;font-size:14px;padding-right:80px;margin-bottom:20px;}
		.phone,.tax{font-weight:bold;font-size:14px;
			span{font-weight: 400;margin-left:5px;}
		}
		.form-register{
			input,textarea{background-color:tint(#141414,86%) !important;}
			.btn-submit{background-color:#ED1D24;color:#fff;}
		}
	}
}
.module-detail-product{
	h2{font-size:42px;text-align:center;}
	.wrap-image-product{
		max-width:700px;margin:0 auto;
		.swiper-container{
			width:100%;
			&.gallery-top{margin-top:50px;
				.swiper-wrapper{
					.swiper-slide{
						img{width:100%;display:block;}
					}
				}
			}
			&.gallery-thumbs{max-width:500px;margin: 0 auto;margin-top:20px;
				.swiper-wrapper{
					.swiper-slide{cursor:pointer; border:1px solid #EBEBEB;border-radius:4px;@include padding(20px 0);
						img{display: block;max-width:100%;margin:0 auto;margin-bottom:5px;}
						p{text-align: center;font-size:0.813em;color:#141414;margin-bottom: 0;}
					}
				}
			}
			
		}
	}
}
.gallery-thumbs .swiper-slide {
width: 25%;
height: 100%;
opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
	border:1px solid #ED1D24 !important;
	p{font-weight:bold;}
}
.block-contact{
	max-width:330px;margin:0 auto;margin-top:50px;
	.row{justify-content: space-between;
		.button{transition:all 400ms ease;cursor: pointer ;margin-bottom:10px;padding:12px 10px;height:44px;color:#fff;background:tint(#141414,50%);display:flex;align-items:center;width:calc(50%-10px);
			p{margin-bottom: 0;margin-left:10px;}
			&:hover{background:#ED1D24;}
		}
	}
}
.module-infor-detail{margin-top:50px;
	.title{
		h3{font-size:24px;font-weight:bold;}
	}
	.context-infor-detail{
	}
}
.module-tabs{margin-top:15px;
	ul{margin-bottom:0;
		display:flex;align-items:flex-end;
		li{width: -webkit-fill-available;
			a{box-sizing:border-box;text-decoration:none;transition:all 400ms ease;background-color:tint(#141414,50%);color:#fff;display:block;text-align:center;padding:8px 10px;margin-right:5px;
				&:hover,&.active{
					background:#ED1D24;font-weight:700;
				}
			}
			&:last-child{a{margin-right: 0;}}

		}
	}
	@media(max-width:568px){
		ul{
			overflow-x:scroll;
			li{flex-shrink:0;width:60%;}
		}
	}
}
.module-content-tabs{border:1px solid tint(#141414,50%);border-top:none;@include padding(20px);background-color:#fff;
	.content-tabs{
		.content-tabs_price{text-align:center;font-size:24px;
			strong{color:#ED1D24;margin-left:5px;}
		}
		.content-tabs_table{margin-bottom: 30px;
			h3{text-transform: uppercase;margin-bottom:30px;position: relative;text-align: center;color:#141414;font-size:21px;margin-top:50px;
				&:after{@include position(absolute, 30px 0 null 0);width:100px;height:5px;background: #ED1D24;content:'';margin:0 auto;}
			}
			.list{max-width:700px;margin:0 auto;position: relative;
				&:after{content:'';position:absolute;width:4px;height:100%;top:0;left:50%;transform: translateX(-50%);background:#fff;}
				.item{display:flex;@include padding(10px 0);
					.name,.infor{width:50%;@include padding(null 20px);font-size:15px;
						&.is-label{font-weight: bold;font-size:18px;}
					}
					&:nth-child(2n + 1){
						background-color:tint(#141414,94%);
					}
				}

			}
		}
	}
}
.note{margin-top:20px;font-size:15px;}
.module-gallery{margin-top:70px;
	.title{
		h3{font-size:24px;font-weight:bold;}
	}
	.context-gallery{margin-top:20px;
		.list{
			.item{
				a{background: #fff;border:1px solid tint(#141414,80%);display: block;width:100%;margin-bottom:20px;overflow: hidden;transition:all 400ms ease;
					span.img{display:block;@extend %backgroundCover--center;@include size(100%);transition:all 400ms ease;
						&:after{display:block;content:'';padding-top:100%;}
					}
					&:hover{
						span.img{transform:scale(1.2);}
					}
				}
			}
		}
	}
}
.fancybox-button--zoom{display:none !important}
.regiser-successfully{transition:all 1s ease;position: fixed;overflow:hidden;right:-150%;bottom:30px;z-index: 99999;
	background-color:#fff;border-radius:4px;border:1px solid #f2f4f8;box-shadow: 0px 2px 6px rgba(0,0,0,0.2);@include padding(10px 20px);max-width:300px;
	span{margin-left:5px;font-size:14px;}
	&:after{@include position(absolute, 0 null null 0);width:4px;height:100%;background-color:#1DB134;content:'';}
	&.is-submited{right:2%;
	}
}
.regiser-error{transition:all 1s ease;position: fixed;overflow:hidden;right:-150%;bottom:80px;z-index: 99999;
	background-color:#fff;border-radius:4px;border:1px solid #f2f4f8;box-shadow: 0px 2px 6px rgba(0,0,0,0.2);@include padding(10px 20px);max-width:300px;
	span{margin-left:5px;font-size:14px;}
	&:after{@include position(absolute, 0 null null 0);width:4px;height:100%;background-color:#E22A2A;content:'';}
	&.is-submited{right:2%;
	}
}
.footer{padding:0 20px;display: flex;align-items:center;justify-content:center;min-height:70px;background:tint(#141414,50%);
	p{text-align:center;margin-bottom:0;color:#fff;font-size:16px;
		a{color:inherit;font-weight:bold;}
	}
}
.maps{display: flex;}

@media(max-width:1024px){
	.nav-link{padding-left:8px !important;}
	.content-body{padding-top:40px;}
	.footer{
		p{font-size:12px;}
	}
	.wrap-buttonSeemore{margin-top:20px;
		a{height:38px;font-size:16px;padding:10px 20px}
	}
	.module-contact{
		.heading{justify-content:center;
			h1.title{font-size:24px;
				span{display: none;}
			}
		}
		.context-contact{margin-top:20px;
			.row{
				h2{font-size:16px;margin-bottom:10px;}
				p{font-size:13px;margin-bottom: 10px;}
				.col-12{
					&:nth-child(2){margin-top:30px;}
				}
			}
		}
	}
	.module-banner{
		span.img{
			&:after{padding-top:45.6%;}
		}
		&.is-tiny{
			span.img{
				&:after{padding-top:34%;}
			}
		}
	}
	.module-product {margin-bottom:80px;
		.heading{justify-content:center;
			h1.title{font-size:24px;
				span{display: none;}
			}
		}
		.context-product{margin-top:20px;}
	}
	.module-content-tabs{
		.content-tabs{
			.content-tabs_price{
				font-size:18px;
			}
			.content-tabs_table{
				h3{font-size:18px;margin-top:20px;}
				.list{
					.item{padding:14px 0;
						.name,.infor{
							font-size:11px;
							&.is-label{font-size:14px;}
						}
					}
				}
			}
		}
	}
	.module-detail-product{
		h2.name-product{font-size:24px;}
		.wrap-image-product{
			.swiper-container{
				&.gallery-top{margin-top:20px}
				&.gallery-thumbs{
					.swiper-wrapper{
						.swiper-slide{@include padding(8px 0)}
					}
				}
			}
		}
	}
	.block-contact{margin-top:30px;max-width:200px;
		.row{
			.button{width:100%;height:38px;@include padding(10px)}
		}
	}
	.module-table-price {
		.heading{justify-content:center;
			h1.title{font-size:24px;
				span{display: none;}
			}
		}
		.context-table-price{margin-top:20px;
			ul.table-price-list{margin-bottom:40px;
				li.item{
					.item-content{
						.item-content_head{
							h3{font-size:18px}
						}
						.item-content_body{
							.label{
								span{font-size:16px;}
							}
							.list{
								.item{
									.name,.price{font-size:14px;}
								}
							}
						}
					}
				}
			}
		}
	}
}

// update ngày 28/07/2020

.hotline{position:fixed;right:30px;bottom:30px;@include size(50px);z-index: 999;background-color:#ED1D24;border-radius:50%;
	display:flex;align-items:center;justify-content:center;animation: shadow-pulse 1s linear infinite;
	.Phone {
		position: relative;
		display: block;
		margin: 0;
		width: 1em;
		height: 1em;
		font-size: 50px;
		background-color: #ED1D24;
		border-radius: 0.5em;
		box-shadow:
		  0 0 0 0em rgba(#3498db, 0),
		  0em 0.05em 0.1em rgba(#000000, 0.2);
		transform: translate3d(0, 0, 0) scale(1);
	  }
	  
	  .Phone::before,
	  .Phone::after {
		position: absolute;
		content: "";
	  }
	  
	  .Phone::before {
		top: 0;
		left: 0;
		width: 1em;
		height: 1em;
		background-color: rgba(#fff, 0.1);
		border-radius: 100%;
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(0);
	  }
	  
	  .Phone::after {
		top: 0.25em;
		left: 0.25em;
		width: 0.5em;
		height: 0.5em;
		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		transform: translate3d(0, 0, 0);
	  }
	  
	  .Phone.is-animating {
		animation: phone-outer 3000ms infinite;
		
		&::before {
		  animation: phone-inner 3000ms infinite;
		}
		
		&::after {
		  animation: phone-icon 3000ms infinite;
		}
	  }
	  
	  @keyframes phone-outer {
		0% {
		  transform: translate3d(0, 0, 0) scale(1);
		  box-shadow:
			0 0 0 0em rgba(#3498db, 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		}
		33.3333% {
		  transform: translate3d(0, 0, 0) scale(1.1);
		  box-shadow:
			0 0 0 0em rgba(#3498db, 0.1),
			0em 0.05em 0.1em rgba(#000000, 0.5);
		}
		66.6666% {
		  transform: translate3d(0, 0, 0) scale(1);
		  box-shadow:
			0 0 0 0.5em rgba(#3498db, 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		}
		100% {
		  transform: translate3d(0, 0, 0) scale(1);
		  box-shadow:
			0 0 0 0em rgba(#3498db, 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		}
	  }
	  
	  @keyframes phone-inner {
		0% {
		  opacity: 1;
		  transform: translate3d(0, 0, 0) scale(0);
		}
		33.3333% {
		  opacity: 1;
		  transform: translate3d(0, 0, 0) scale(0.9);
		}
		66.6666% {
		  opacity: 0;
		  transform: translate3d(0, 0, 0) scale(0);
		}
		100% {
		  opacity: 0;
		  transform: translate3d(0, 0, 0) scale(0);
		}
	  }
	  
	  @keyframes phone-icon {
		0% { transform: translate3d(0em, 0, 0); }
		2% { transform: translate3d(0.01em, 0, 0); }
		4% { transform: translate3d(-0.01em, 0, 0); }
		6% { transform: translate3d(0.01em, 0, 0); }
		8% { transform: translate3d(-0.01em, 0, 0); }
		10% { transform: translate3d(0.01em, 0, 0); }
		12% { transform: translate3d(-0.01em, 0, 0); }
		14% { transform: translate3d(0.01em, 0, 0); }
		16% { transform: translate3d(-0.01em, 0, 0); }
		18% { transform: translate3d(0.01em, 0, 0); }
		20% { transform: translate3d(-0.01em, 0, 0); }
		22% { transform: translate3d(0.01em, 0, 0); }
		24% { transform: translate3d(-0.01em, 0, 0); }
		26% { transform: translate3d(0.01em, 0, 0); }
		28% { transform: translate3d(-0.01em, 0, 0); }
		30% { transform: translate3d(0.01em, 0, 0); }
		32% { transform: translate3d(-0.01em, 0, 0); }
		34% { transform: translate3d(0.01em, 0, 0); }
		36% { transform: translate3d(-0.01em, 0, 0); }
		38% { transform: translate3d(0.01em, 0, 0); }
		40% { transform: translate3d(-0.01em, 0, 0); }
		42% { transform: translate3d(0.01em, 0, 0); }
		44% { transform: translate3d(-0.01em, 0, 0); }
		46% { transform: translate3d(0em, 0, 0); }
	  }
}
