.pmt{}
.section-hero{
	background-size:cover;
	background-position:center center;
	background-repeat: no-repeat;
	position: relative;
	&:after{
		content:'';
		display:block;
		padding-top:41.777%;
	}
	
	.context-hero{
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		left:15%;
		max-width:700px;
		text-align:right;
		display:flex;
		flex-direction:column;
		align-items:flex-end;
		img{width:338px;display:block;margin-bottom:38px;}
		p{
			color:#9fe2ff;
			font-size:22px;
			line-height:32px;
		}
		.cta{
			display:block;
			display:flex;
			align-items:center;
			justify-content:center;
			margin-top:32px;
			background-color:#fff;
			color:#1462dc;
			width:289px;
			height:62px;
			font-size:28px;
			font-weight:bold;
			border-radius:30px;
			transition: all 300ms ease;
			&:hover{
				box-shadow:0px 0 32px rgba(255,255,255,0.24);
			}
		}
	}

	@media(max-width:1440px){
		.context-hero{
			left:12%;
			img{
				width:250px;
				margin-bottom:24px;
			}
			p{
				font-size:18px;
				line-height: 24px;
			}
			.cta{
				margin-top:18px;
				width:230px;
				height:48px;
				font-size:22px;
			}
		}
	}
	@media(max-width:1024px){
		.context-hero{
			position:unset;
			top:unset;
			transform:translateY(0);
			max-width:992px;
			text-align:center;
			margin:0 auto;
			display:flex;align-items:center;
			img{width:300px;display:block;;
				margin: 0 auto;
				margin-bottom:24px;
				margin-top:200px;
			}
			p{
				color:#fff;
				font-size:22px;
				line-height:32px;
			}
			.cta{
				margin-top:24px;
				width:200px;
				height:48px;
				font-size:18px;
			
			}
		}
	}
	@media(max-width:568px){
		.context-hero{
			position:unset;
			top:unset;
			transform:translateY(0);
			// max-width:375px;
			padding:0 16px;
			text-align:center;
			display:flex;align-items:center;
			margin-right:0;
			img{width:200px;display:block;;
				margin: 0 auto;
				margin-bottom:24px;
				margin-top:100px;
			}
			p{
				color:#fff;
				font-size:15px;
				line-height:22px;
			}
			.cta{
				margin-top:24px;
				width:200px;
				height:48px;
				font-size:18px;
			
			}
		}
	}
	
}
.section-introduction{
	.context{
		padding-top:120px;
		max-width:1208px;
		margin:0 auto;
		h2{
			text-align:center;
			position: relative;
			margin-bottom:32px;
			font-size:38px;
			&:after{
				content:'';
				position:absolute;
				top:14px;right:0;left:0;bottom:0;
				background-color:#d9f0fd;
				max-width:500px;
				margin:0 auto;
			
				z-index:-1;
			}
		}
		.desc{
			color:#666666;
			font-size:16px;
			line-height:24px;
			max-width:920px;
			text-align:center;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:16px;
		}
		ul{
			display:flex;
			margin:0 -38px;
			margin-top:48px;
			li{
				
				width:calc(100% / 3);
				padding: 0 38px;
				.item{
					padding:46px 28px;
					border-radius:12px;
					.img{
						img{
							height:88px;
							display: block;
							margin:0 auto;							
						}
					}
					h3{
						text-align: center;
						font-size:18px;
						margin-top:32px;
					}
					p{
						font-size:14px;
						line-height:22px;
						margin-top:16px;
						text-align: center;
					}
					&.is-impact{
						background-color:#e5f8f0;
						transition: all 400ms ease;
						&:hover{
							box-shadow:0px 16px 32px rgba(0,0,0,0.16);
							background-color:#52B37E;
							h3,p{color:#fff}
						}
					}
					&.is-coaching{
						background-color:#f5f4fe;
						transition: all 400ms ease;
						&:hover{
							box-shadow:0px 8px 16px rgba(0,0,0,0.16);
							background-color:#8386F6;
							h3,p{color:#fff}
						}
					}
					&.is-career{
						background-color:#feeded;
						transition: all 400ms ease;
						&:hover{
							box-shadow:0px 8px 16px rgba(0,0,0,0.16);
							background-color:#E26766;
							h3,p{color:#fff}
						}
					}
				}
			}
		}
	}
	@media(max-width:1024px){
		.context{
			padding-top:80px 20px;
			h2{
				margin-bottom:24px;
				font-size:28px;
			}
			.desc{
				max-width:768px;
			}
			ul{
				display:flex;
				margin:0;
				margin-top:48px;
				li{
					padding:0 16px;
					.item{
						h3{font-size:16px;}
						padding:46px 8px;
					}
				}
			}
		}
	}
	@media(max-width:568px){
		.context{
			padding-top:80px;
			// max-width:375px;
			padding-right:20px;
			padding-left:20px;
			h2{
				margin-bottom:24px;
				font-size:22px;
				text-align:left;
				&:after{
					max-width:200px;
					left:0;right:unset;
				}
			}
			.desc{
				font-size:16px;
				line-height:24px;
				text-align:left;
				margin-left:auto;
				margin-right:auto;
				margin-bottom:16px;
			}
			ul{
				display:flex;
				margin:0;
				margin-top:48px;
				flex-wrap: wrap;
				li{
					width:100%;
					padding:20px 0;
				}
			}
		}
	}
}
.section-why{
	padding-top:150px;
	.context{
		max-width:1208px;
		margin:0 auto;
		display:flex;
		align-items:flex-start;
		.context-right{
			// padding-left:100px;
			margin-left:auto;
			.image-under{
				img{
					display: block;margin-top:32px;
					margin-left:-50px;
				}
			}
			.block-image{
				position: relative;
				width:700px;
				height:550px;
				&:after{
					content:'';
					background-color:#9fe1ff;
					position:absolute;
					top:50%;
					transform:translateY(-50%);
					width:500px;
					height:250px;
					border-bottom-right-radius: 40px;
					z-index:0;
					right:0;
				}
				&:before{
					content:'';
					background-color:#ffda00;
					position:absolute;
					top:60px;
					width:40px;
					height:40px;
					border-radius:8px;
					z-index:0;
					right:-40px;
				}
				img{
					position:absolute;
					border-radius:16px;
					transform:scale(0.85);
				}
				.img-01{
					right:80px;
					top:0;
					z-index: 1;
				}
				.img-02{
					left:0;
					top:100px;
					z-index: 2;
				}
				.img-03{
					bottom:0;
					right:0;left: 0;
					margin: 0 auto;
					box-shadow: 0px 0 32px rgba(0,0,0,0.24);
					z-index: 3;
				}
			}
		}
		.context-left{
			padding-top:100px;
			padding-left:32px;
			
			h2{
				font-size:38px;
				position:relative;
				margin-left:56px;
				&:after{
					content: "";
					position: absolute;
					top: 25px;
					left: -20px;
					background-color: #d9f0fd;
					max-width: 440px;
					height: 20px;
					width: 200px;
					z-index: -1;
				}
			}
			ul{
				margin-top:60px;
				li{
					display:flex;align-items:center;
					margin-bottom:32px;
					img{
						display:block;
						margin-right:16px;
					}
					p{
						font-weight:700;
						font-size:20px;
						white-space:nowrap;
					}
				}
			}
		}
	}
	
	@media(max-width:1024px){
		padding-top:100px;
		.context{
			padding:0 20px;
			margin:0;
			.context-right{
				margin-left:auto;
				.image-under{
					img{
						max-width:100%;
						margin-left:0;
					}
				}
				.block-image{
					width:auto;
					&:After,&::before{
						display: none;
					}
					img{transform:scale(0.75);}
					.img-01{
						right:0;
					}
					.img-02{left:0;}
					.img-03{

					}
				}
			}
			.context-left{
				padding-top:0;
				padding-left:0;
				
				h2{
					font-size:28px;
					margin-left:0;
					&:after{
						top: 25px;
						left:0;
						background-color: #d9f0fd;
						max-width: 440px;
						height: 20px;
						width: 200px;
						z-index: -1;
					}
				}
				ul{
					margin-top:38px;
					li{
						display:flex;align-items:center;
						margin-bottom:24px;
						img{
							display:block;
							margin-right:16px;
							width:28px;
						}
						p{
							font-weight:700;
							font-size:16px;
							white-space:nowrap;
						}
					}
				}
			}
		}	
	}
	@media(max-width:568px){
		padding-top:60px;
		.context{
			padding:20px;
			margin:0;
			display:block;
			.context-right{
				margin-left:auto;
				.image-under{
					img{
						max-width:100%;
						margin-left:0;
					}
				}
				.block-image{
					width:100%;
					height:auto;
					&:after{
						display:none;
					}
					&:before{
						display:none;
					}
					img{
						position:unset;
						border-radius:16px;
						transform:scale(1);
						width:100%;
						display:block;
						margin:0 auto;
						margin-bottom:16px;
					}
					
				}
			}
			.context-left{
				padding-top:0;
				padding-left:0;
				
				h2{
					font-size:22px;
					margin-left:0;
					&:after{
						top: 25px;
						left:0;
						background-color: #d9f0fd;
						max-width: 440px;
						height: 20px;
						width: 200px;
						z-index: -1;
					}
				}
				ul{
					margin-top:38px;
					li{
						display:flex;align-items:center;
						margin-bottom:24px;
						img{
							display:block;
							margin-right:16px;
							width:28px;
						}
						p{
							font-weight:700;
							font-size:16px;
							white-space:nowrap;
						}
					}
				}
			}
		}	
	}
}
.section-looking{
	padding-top:250px;
	.context{
		max-width:1208px;
		margin:0 auto;
		display:flex;
		align-items:flex-start;
		.context-left{
			.block-image{
				position: relative;
				width:500px;
				height:500px;
				margin-left:24px;
				&:after{
					content:'';
					background-color:#02bd74;
					position:absolute;
					top:50%;
					transform:translateY(-50%);
					width:500px;
					height:320px;
					border-bottom-left-radius: 40px;
					z-index:0;
					right:0;
				}
				&:before{
					content:'';
					background-color:#a097f5;
					position:absolute;
					bottom:-10px;
					width:40px;
					height:40px;
					border-radius:8px;
					z-index:0;
					right:320px;
				}
				img{
					position:absolute;
					border-radius:16px;
					transform:scale(0.85)
				}
				.img-01{
					box-shadow: 0px 0 32px rgba(0,0,0,0.24);
					z-index: 3;
					margin:0 auto;
					right:0;
					left:0;
					top:-100px;
				}
				.img-02{
					top:50%;
					transform:translateY(-50%) scale(0.85);
					left:-70px;
					z-index: 2;
				}
				.img-03{
					top: 300px;
					right: 46px;
					z-index: 1;
				}
			}
		}
		.context-right{
			padding-left:80px;
			padding-top:16px;
			h2{
				font-size:38px;
				position:relative;
				&:after{
					content: "";
					position: absolute;
					top: 25px;
					left: -20px;
					background-color: #d9f0fd;
					max-width: 440px;
					height: 20px;
					width: 200px;
					z-index: -1;
				}
			}
			.caption{
				margin-top:16px;
				line-height:24px;
				color:#666666;
			}
			ul{
				margin-top:48px;
				display:flex;
				flex-direction:column;
				li{
					width:100%;
					a{
						display:block;
						font-size:18px;
						font-weight:bold;
						margin-bottom:24px;
					}
					&:last-child{
						margin-left:auto;
						padding-left:0;
					}
				}
			}
		}
	}
	
	@media(max-width:1024px){
		padding-top:80px;;
		.context{
			flex-direction:column-reverse;
			padding:0 20px;
			.context-left{
				.block-image{
					display:flex;
					flex-wrap: wrap;
					width: 100%;
					height:auto;
					margin-left:0;
					margin-top:32px;
					img{width: 50%;}

					&:after{
						display:none;
					}
					&:before{
						display:none;
					}
					img{
						position:unset;
						transform:scale(1);
						display:block;
						width:100%;
						transform:unset;
						margin-bottom:16px;
					}
					.img-01{
						margin-bottom:16px;
						width: 100%;
						margin-bottom:24px;
					}
					.img-02{
						transform:none;
						width: 50%;
						padding-right:16px;
					}
					.img-03{						width: 50%;
						padding-left:16px;
					}
				}
			}
			.context-right{
				padding-left:0;
				padding-top:16px;

				h2{
					font-size:28px;
					&:after{
						top: 15px;
						left: 0;
						width: 200px;
					}
				}
				
				ul{
					margin-top:32px;
					// display:block;
					// li{
					// 	width:100%;
					// 	a{
					// 		display:block;
					// 		font-size:16px;
					// 		font-weight:bold;
					// 		margin-bottom:16px;
					// 	}
					// 	&:last-child{
					// 		margin-left:auto;
					// 		padding-left:0;
					// 	}
					// }
				}
			}
		}
	}
	@media(max-width:568px){
		padding-top:80px;
		.context{
			flex-direction:column-reverse;
			padding:0 20px;
			.context-left{
				.block-image{
					display:flex;
					flex-wrap: wrap;
					width: 100%;
					height:auto;
					margin-left:0;
					margin-top:32px;
					img{width: 50%;}

					&:after{
						display:none;
					}
					&:before{
						display:none;
					}
					img{
						position:unset;
						transform:scale(1);
						display:block;
						width:100%;
						transform:unset;
						margin-bottom:16px;
					}
					.img-01{
						margin-bottom:16px;
						width: 100%;
						margin-bottom:16px;
					}
					.img-02{
						transform:none;
						width: 100%;
						padding:0;
					}
					.img-03{						width: 100%;
						padding:0;

					}
				}
			}
			.context-right{
				padding-left:0;
				padding-top:16px;

				h2{
					font-size:28px;
					&:after{
						top: 15px;
						left: 0;
						width: 200px;
					}
				}
				
				ul{
					margin-top:32px;
					display:block;
					li{
						width:100%;
						a{
							display:block;
							font-size:18px;
							font-weight:bold;
							margin-bottom:16px;
						}
						&:last-child{
							margin-left:auto;
							padding-left:0;
						}
					}
				}
			}
		}
	}
}
.section-process{
	margin-top:150px;
	background-color:#145fdc;
		padding:150px 0;
		position: relative;
		&:after{
			display:block;
			content:'';
			background-image: url('../images/process_elements.png');
			background-position:center center;
			background-repeat: no-repeat;
			background-size: 246px 415px;
			width:246px;
			height:415px;
			position:absolute;
			right:0;
			top:0;
			transform:translateY(-50%);
		}
	.context{
		max-width:1208px;
		margin:0 auto;
		
		h2{
			font-size:38px;
			color:#fff;
			text-align:center;
			margin-bottom:80px;
		}
		img{
			display:block;
			max-width:100%;
		}
	}
	
	@media(max-width:1024px){
		margin-top:80px;
		padding:80px 0;
		&:after{
			background-size: 60px 100px;
			width:60px;
			height:100px;
			

		}
		.context{
			max-width:1208px;
			margin:0 auto;
			padding:0 20px;
			h2{
				font-size:28px;
			}
		}
	}
	@media(max-width:568px){
		margin-top:80px;
		padding:80px 0;
		&:after{
			background-size: 60px 100px;
			width:60px;
			height:100px;
			

		}
		.context{
			max-width:1208px;
			margin:0 auto;
			padding:0 20px;
			overflow-x: scroll;
			h2{
				font-size:22px;
				color:#fff;
				margin-bottom:50px;
			}
			img{
				display:block;
				max-width:100%;
				padding-right:0;
				width:100%;
				
			}
		}
	}
}
.section-news{
	padding-top:100px;
	position: relative;
	
	&:after{
		content:'';
		background-color:#ffda00;
		position:absolute;
		top:-50px;
		width:40%;
		height:600px;
		border-top-right-radius: 80px;
		z-index:0;
		left:0;
	}
	&:before{
		display:block;
		content:'';
		background-image: url('../images/news_elements.png');
		background-position:center center;
		background-repeat: no-repeat;
		background-size: 100% 240px;
		width:35%;
		top:0;
		height:300px;
		position:absolute;
	
		z-index: 2;
	}
	.context{
		max-width:1208px;
		margin:0 auto;
		position: relative;
		z-index: 3;
		display:flex;
		align-items:flex-start;
		.context-right{
			padding-top:60px;
			padding-left:200px;
			h2{
				font-size:38px;
				position: relative;
				&:before{
					display:block;
					content:'';
					background-image: url('../images/news_elements2.png');
					background-position:center center;
					background-repeat: no-repeat;
					background-size: 361px 243px;
					width:361px;
					top:28px;
					left:-30px;
					z-index:-1;
					height:243px;
					position:absolute;
				}
			}
		}
		.context-left{width:58%;
			padding-left:100px;
			
			.block-swiper{
				position: relative;
			}
			.swiper-button-next{position: absolute;top:50%;z-index:1;transform:translateY(-20px); cursor: pointer;right:-40px;
				&:after{content:''}
			}
			.swiper-button-prev{position: absolute;top:50%;left:-40px;z-index:1;transform:translateY(-20px); cursor: pointer;
				&:after{content:''}
				
			}
			.bl-list-news{margin-top:50px;
				@media(max-width:1024px){margin-top:0;}
				.swiper-wrapper{padding-left:0;
					.swiper-slide{position: relative;padding:16px;
						.content-slide{position: absolute;width: 100%;height: 100%;top:0;z-index: 2;}
						.img-slider{box-shadow:0px 8px 16px rgba(0,0,0,0.16);background-position: center center;background-repeat: no-repeat;background-size: cover;
							
							&:after{display: block;content:'';padding-top:56.5%;}
							&.is-video{
								position: relative;
								.button-play{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
							}
							}
						}
						.des-news{text-align: center;font-size:1em;font-family: 'Roboto', sans-serif !important;margin-top:16px;display:block;
							&.is-custom{display:inline-block;}
						}
					}
				}
			}
		}
	}
	@media(max-width:1024px){
		padding-top:80px;
		
		&:after{
			content:'';
			background-color:#ffda00;
			width:36%;
			height:400px;
		}
		&:before{
			display:none;
		}
		.context{
			max-width:1208px;
			margin:0 auto;
			position: relative;
			z-index: 3;
			padding: 0 20px;
			.context-right{
				padding-top:0;
				padding-left:100px;
				h2{
					font-size:28px;
					position: relative;
					text-align:center;
					&:before{
						background-size: 120px 80px;
						width:120px;
						top:17px;
						left:-30px;
						right:0;
						margin: 0 auto;
						height:80px;
					}
				}
			}
			.context-left{
				.block-swiper{
					position: relative;
				}
				.swiper-button-next{right:-8px;
					&:after{content:''}
				}
				.swiper-button-prev{left:-8px;
					&:after{content:''}
					
				}
				.bl-list-news{margin-top:50px;
					@media(max-width:1024px){margin-top:0;}
					.swiper-wrapper{padding-left:0;
						.swiper-slide{position: relative;padding:16px;
							.content-slide{position: absolute;width: 100%;height: 100%;top:0;z-index: 2;}
							.img-slider{box-shadow:0px 8px 16px rgba(0,0,0,0.16);background-position: center center;background-repeat: no-repeat;background-size: cover;
								
								&:after{display: block;content:'';padding-top:56.5%;}
								&.is-video{
									position: relative;
									.button-play{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
								}
								}
							}
							.des-news{text-align: center;font-size:1em;font-family: 'Roboto', sans-serif !important;margin-top:16px;display:block;
								&.is-custom{display:inline-block;}
							}
						}
					}
				}
			}
		}
	}
	@media(max-width:568px){
		padding-top:80px;
		&:after{
			content:'';
			background-color:#ffda00;
			top:350px;
			width:100%;
			height:150px;
			border-top-right-radius: 0;
			z-index:0;
			left:0;
			right:0;
		}
		&:before{
			display:none;
		}
		.context{
			max-width:1208px;
			margin:0 auto;
			position: relative;
			z-index: 3;
			display:flex;
			align-items:unset;
			flex-direction: column-reverse;
			padding: 0 20px;
			.context-right{
				padding-top:0;
				padding-left:0;
				h2{
					font-size:22px;
					position: relative;
					text-align:center;
					&:before{
						background-size: 120px 80px;
						width:120px;
						top:17px;
						left:-30px;
						right:0;
						margin: 0 auto;
						height:80px;
					}
				}
			}
			.context-left{width:100%;
				padding-left:0;
				padding-top:100px;
				.block-swiper{
					position: relative;
				}
				.swiper-button-next{right:-8px;
					&:after{content:''}
				}
				.swiper-button-prev{left:-8px;
					&:after{content:''}
					
				}
				.bl-list-news{margin-top:50px;
					@media(max-width:1024px){margin-top:0;}
					.swiper-wrapper{padding-left:0;
						.swiper-slide{position: relative;padding:16px;
							.content-slide{position: absolute;width: 100%;height: 100%;top:0;z-index: 2;}
							.img-slider{box-shadow:0px 8px 16px rgba(0,0,0,0.16);background-position: center center;background-repeat: no-repeat;background-size: cover;
								
								&:after{display: block;content:'';padding-top:56.5%;}
								&.is-video{
									position: relative;
									.button-play{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
								}
								}
							}
							.des-news{text-align: center;font-size:1em;font-family: 'Roboto', sans-serif !important;margin-top:16px;display:block;
								&.is-custom{display:inline-block;}
							}
						}
					}
				}
			}
		}
	}
	
	@media(min-width:1441px){
		.context{
			.context-left{
				padding-left:0;
			}
		}
		&:after{height:700px;}
		&:before{}
	}
}
.section-faq{
	padding:180px 0 150px;
	.context{
		max-width:1208px;
		margin:0 auto;
		display:flex;
		align-items:flex-start;
		
		.context-left{
			padding-left:200px;
			padding-right:150px;
			h2{
				font-size:38px;
				position: relative;
				&:after{
					content:'';
					position:absolute;
					bottom:-5px;left:8px;
					background-color:#d9f0fd;
					width:200px;
					height:20px;
					z-index:-1;
				}
			}
		}
		.context-right{
			.list-faq{
				.item-faq{margin-bottom:32px;
					.heading{display:flex;align-items:flex-start;cursor: pointer; user-select: none;
						.wrap-img{display:flex;align-items:center;padding-top:10px;
							.img-opened{display:none;margin-top:5px;}
						}
						p{font-weight:bold;font-size:22px;margin:0;margin-left:10px;}
					}
					.content{display:none;
						margin-top:24px;
						p{font-size:16px;font-family: 'Roboto', sans-serif;max-width:692px;margin-top:8px;}
					}
					&.is-active{
						.heading{
							.wrap-img{
								.img-opened{display:block;}
								.img-default{display:none;}
							}
						}
						.content{display:block;
						}
					}
				}
			}
		}
	}
	
	@media(max-width:1024px){
		padding:80px 0;
		.context{
			padding:0 20px;
			.context-left{
				padding-left:50px;
				padding-right:50px;
				
			}
			.context-right{
				.list-faq{
					.item-faq{margin-bottom:24px;
						.heading{
							.wrap-img{padding-top:5px;
								.img-opened{display:none;margin-top:5px;}
							}
							p{font-size:18px;}
						}
						.content{
							margin-top:16px;
							p{font-size:16px;font-family: 'Roboto', sans-serif;
								line-height:24px;max-width:692px;margin-top:8px;}
						}
						&.is-active{
							.heading{
								.wrap-img{
									.img-opened{display:block;}
									.img-default{display:none;}
								}
							}
							.content{display:block;
							}
						}
					}
				}
			}
		}
	}
	@media(max-width:568px){
		padding:80px 0;
		.context{
			display:block;
			padding:0 20px;
			.context-left{
				padding-left:0;
				padding-right:0;
				h2{
					font-size:28px;
					&:after{
						width:120px;
					}
				}
			}
			.context-right{
				margin-top:48px;
				.list-faq{
					.item-faq{margin-bottom:24px;
						.heading{
							.wrap-img{padding-top:5px;
								.img-opened{display:none;margin-top:5px;}
							}
							p{font-size:18px;}
						}
						.content{
							margin-top:16px;
							p{font-size:16px;font-family: 'Roboto', sans-serif;
								line-height:24px;max-width:692px;margin-top:8px;}
						}
						&.is-active{
							.heading{
								.wrap-img{
									.img-opened{display:block;}
									.img-default{display:none;}
								}
							}
							.content{display:block;
							}
						}
					}
				}
			}
		}
	}
}
.float{
	position:fixed;
	top:60%;
	right:24px;
	z-index: 100;
	img{
		display:block;
		width:100px;
		border-radius:12px;
		box-shadow:0px 4px 8px rgba(0,0,0,0.16);
	}
	.img-1{
		position:absolute;right:0;top:0;
		transition:all 300ms ease;
		opacity:1;
		&.is-hide{
			opacity:0;
		}
	}
	.img-2{
		position:absolute;right:0;top:0;
		transition:all 300ms ease;
		opacity:1;
		&.is-hide{
			opacity:0;
		}
	}
	@media(max-width:568px){
		img{
			width:48px;
		}
	}
}

