block Body

.content-body
	.container
		.module-contact
			.heading
				h1.title Liên hệ
					span Contact
			.context-contact
				.row
					.col-12.col-md-6.col-lg-6
						h2 MITSUBISHI BÌNH THUẬN
						p  Địa chỉ: Lô 4/3 KCN Phan Thiết, xã Phong Nẫm, Thành phố Phan Thiết, tỉnh Bình Thuận
						.phone Hotline:
							span 096 999 1108
						
					.col-12.col-md-6.col-lg-6
						h2 LIÊN HỆ VỚI CHÚNG TÔI
						.form-register
							.form-group
								input.w-100.form-control(type="text" placeholder="Nhập họ và tên")
							.form-group
								input.w-100.form-control(type="text" placeholder="Nhập Email")
							.form-group
								input.w-100.form-control(type="text" placeholder="Nhập Số điện thoại")
							.form-group
								input.w-100.form-control(type="text" placeholder="Nhập địa chỉ")
							.form-group
								textarea.w-100.form-control(type="text" placeholder="Nhập địa chỉ")
							.form-group
								button.btn-submit(type="submit" class="btn btn-submit") Gửi liên hệ
.maps
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15668.31593444665!2d108.0985492!3d10.9574063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31768344b9630569%3A0xe3a4d7bfa2d8df6b!2zTWl0c3ViaXNoaSBCw6xuaCBUaHXhuq1u!5e0!3m2!1svi!2s!4v1595505938630!5m2!1svi!2s" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
.regiser-successfully
	.d-flex.align-items-center
		i.icn.icn-check-circle
		span Gửi yêu cầu liên hệ thành công



