block Body

.module-banner.is-tiny
	span.img(style="background-image:url(images/img_banner2.png)")
.content-body
	.container
		.module-detail-product
			h2.name-product MIRAGE
			.wrap-image-product
				.swiper-container.gallery-top
					.swiper-wrapper
						.swiper-slide
							img(src="images/img_product.png" alt="")
						.swiper-slide
							img(src="images/img_product2.png" alt="")
						.swiper-slide
							img(src="images/img_product.png" alt="")
						.swiper-slide
							img(src="images/img_product2.png" alt="")
						.swiper-slide
					
				.swiper-container.gallery-thumbs
					.swiper-wrapper
						.swiper-slide
							img(src="images/img_product.png" alt="")
							p Xanh
						.swiper-slide
							img(src="images/img_product2.png" alt="")
							p Đỏ
						.swiper-slide
							img(src="images/img_product.png" alt="")
							p Bạc
						.swiper-slide
							img(src="images/img_product2.png" alt="")
							p Đen
		.block-contact
			.row
				.button.button-form.func-open-contact
					img(src="images/icn_price.png", alt="")
					p Yêu cầu báo giá
				.button.button-phone.func-open-phone
					img(src="images/icn_phone.png" alt="")
					p Liên hệ trực tiếp
		.module-infor-detail
			.title
				h3 PHIÊN BẢN
			.context-infor-detail
				.module-tabs
					ul
						li
							a.b-nav-tab.fs--l.active(href="#tab1" data-tab="tab1") MT
						li
							a.b-nav-tab.fs--l(href="#tab2" data-tab="tab2") CTV Eco
						li
							a.b-nav-tab.fs--l(href="#tab3" data-tab="tab3") CTV
				.module-content-tabs
					#tab1.b-tab.active
						.content-tabs
							.content-tabs_price Giá đã bao gồm thuế VAT: <strong> 350.500.000 VNĐ </strong>
							.content-tabs_table
								h3 Thông số kỹ thuật
								.list
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
							.content-tabs_table
								h3 Nội thất
								.list
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
											

					#tab2.b-tab
						.content-tabs
							.content-tabs_price Giá đã bao gồm thuế VAT: <strong> 550.500.000 VNĐ </strong>
							.content-tabs_table
								h3 Thông số kỹ thuật
								.list
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
							.content-tabs_table
								h3 Nội thất
								.list
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
					#tab3.b-tab
						.content-tabs
							.content-tabs_price Giá đã bao gồm thuế VAT: <strong> 750.500.000 VNĐ </strong>
							.content-tabs_table
								h3 Thông số kỹ thuật
								.list
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
							.content-tabs_table
								h3 Nội thất
								.list
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name.is-label Kích thước
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
									.item
										.name Xpander AT (MY2020)
										.infor 630.000.000 
			p.note (*) Mức tiêu hao nhiên liệu chứng nhận bởi Cục Đăng Kiểm Việt Nam. Các thông số kỹ thuật có thể thay đổi mà không báo trước
		.module-gallery
			.title
				h3 THƯ VIỆN HÌNH ẢNH
			.context-gallery
				.list.row
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery1.jpg")
							span.img(style="background-image:url(images/img_gallery1.jpg)")
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery2.jpg")
							span.img(style="background-image:url(images/img_gallery2.jpg)")
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery3.jpg")
							span.img(style="background-image:url(images/img_gallery3.jpg)")
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery4.jpg")
							span.img(style="background-image:url(images/img_gallery4.jpg)")
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery5.jpg")
							span.img(style="background-image:url(images/img_gallery5.jpg)")
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery6.jpg")
							span.img(style="background-image:url(images/img_gallery6.jpg)")
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery1.jpg")
							span.img(style="background-image:url(images/img_gallery1.jpg)")
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery2.jpg")
							span.img(style="background-image:url(images/img_gallery2.jpg)")
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery3.jpg")
							span.img(style="background-image:url(images/img_gallery3.jpg)")
					.item.col-6.col-md-4.col-lg-3
						a.fancybox(data-fancybox="group" href="images/img_gallery4.jpg")
							span.img(style="background-image:url(images/img_gallery4.jpg)")

.regiser-successfully
	.d-flex.align-items-center
		img(src="images/icn_check.png")
		span Gửi yêu cầu liên hệ thành công
.regiser-error
	.d-flex.align-items-center
		img(src="images/icn_error.png")
		span Gửi yêu cầu liên hệ thất bại
											