block Body

.module-banner
	span.img(style="background-image:url(images/img_banner.png)")
.content-body
	.container
		.module-product
			.heading
				h1.title Sản phẩm
					span Product
			.context-product
				
				ul.product-list.row
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
				.wrap-buttonSeemore.text-center
					a(href="product.html") Xem tất cả dòng xe
		.module-table-price
			.heading
				h1.title Bảng Giá
					span Price
			.context-table-price
				ul.table-price-list
					li.item
						.item-content
							.item-content_head
								img(src="images/img_product2.png", alt="")
								h3.text-uppercase new xpander
							.item-content_body
								.label
									span Phiên bản
									span Giá bán lẻ
									span Chương trình khuyến mãi
								.list
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
										.km Xpander AT (MY2020)
											
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
										.km Xpander AT (MY2020)
									.item
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
										.km Xpander AT (MY2020)
				.wrap-buttonSeemore.text-center.mb-5
					a(href="price.html") Xem tất cả báo giá

						
				