block Body

.module-banner.is-tiny
	span.img(style="background-image:url(images/img_banner2.png)")
.content-body
	.container
		.module-table-price
			.heading
				h1.title Bảng Giá
					span Price
			.context-table-price
				ul.table-price-list
					li.item
						.item-content
							.item-content_head
								img(src="images/img_product2.png", alt="")
								h3.text-uppercase new xpander
							.item-content_body
								.label
									span Phiên bản
									span Giá bán lẻ
									span Chương trình khuyến mãi
								.list
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
										.km Xpander AT (MY2020)
											
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
										.km Xpander AT (MY2020)
									.item
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
										.km Xpander AT (MY2020)
					li.item
						.item-content
							.item-content_head
								img(src="images/img_product2.png", alt="")
								h3.text-uppercase new xpander
							.item-content_body
								.label
									span Phiên bản
									span Giá bán lẻ
								.list
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
					li.item
						.item-content
							.item-content_head
								img(src="images/img_product2.png", alt="")
								h3.text-uppercase new xpander
							.item-content_body
								.label
									span Phiên bản
									span Giá bán lẻ
								.list
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
									.item
										
										.name Xpander AT (MY2020)
										.price 630.000.000 
											span (VNĐ)
				