block Body

.module-banner.is-tiny
	span.img(style="background-image:url(images/img_banner2.png)")
.content-body
	.container
		.module-product
			.heading
				h1.title Sản phẩm
					span Product
			.context-product
				
				ul.product-list.row
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ
					li.item-product.col-12.col-md-6.col-lg-3
						a.item-product_content(href="detail_product.html")
							h3.text-uppercase.name-product new xpander
							img.img-product(src="images/img_product.png", alt="")
							div.block-energy 5.09L/100km
							div.price-product Giá từ
								span.num 395.000.000 
								span VNĐ