block header
.header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.pt-0.pb-0
            a.navbar-brand(href="index.html")
                img(src="images/img_logo.png", alt="")
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link.text-body.font-weight-bold(href="product.html") Sản phẩm 
                    li.nav-item
                        a.nav-link.text-body.font-weight-bold(href="price.html") Bảng giá
                    li.nav-item.color-base
                        a.nav-link.text-body.font-weight-bold(href="contact.html") Liên hệ