block Modal

.modal-container#modal-phone
	.bl-modal-heading
		span.d-block.text-center Danh sách liên hệ
		a.func-close-modal(href="javascript:void(0)")
			img(src="images/icn_close.png")
	.bl-modal-context
		.list-infor
			ul
				li 
					span Hotline
					span 
						a(href="tel:0969991108") 0969991108
				li 
					span Lê Minh Chí
					span 
						a(href="tel:0966229207") 0966229207
				li
					span Thái Châu Phú
					span 
						a(href="tel:0933112355")  0933112355
