block Modal

.modal-container#modal-form
	a.func-close-modal(href="javascript:void(0)")
		img(src="images/icn_close.png")
	.bl-modal-context
		img(src="images/img_form.png", alt="")
		h3.text-center.mt-3.mb-3 ĐĂNG KÝ LIÊN HỆ NGAY
		.form-register
			.form-group
				input.w-100.form-control(type="text" placeholder="Nhập họ và tên")
			.form-group
				input.w-100.form-control(type="text" placeholder="Nhập Số điện thoại")
			.form-group.text-center
				button.btn-submit(type="submit" class="btn btn-submit") Gửi liên hệ
		
