block Modal

.modal-container#modal-contact
	.bl-modal-heading
		span.d-block.text-center Gửi yêu cầu báo giá
		a.func-close-modal(href="javascript:void(0)")
			img(src="images/icn_close.png")
	.bl-modal-context
		.form-register
			.form-group
				input.w-100.form-control(type="text" placeholder="Nhập họ và tên")
			.form-group
				input.w-100.form-control(type="text" placeholder="Nhập Email")
			.form-group
				input.w-100.form-control(type="text" placeholder="Nhập Số điện thoại")
			.form-group
				input.w-100.form-control(type="text" placeholder="Nhập địa chỉ")
			.form-group
				textarea.w-100.form-control(type="text" placeholder="Nhập địa chỉ")
			.form-group.text-center
				button.btn-submit(type="submit" class="btn btn-submit") Gửi liên hệ
		
