//- ====================== SETUP HTML ==============================
- var page = "Mitsubishi"
- var responsiveDevice = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
- var description = "mitsubishi"

//------------------------------ Javascript ------------------------------
- var jquery = true
- var jquery_link = "js/jquery.min.js"
- var modernizr = false
- var modernizr_link = "js/plugins/modernizr.min.js"
- var wowjs = false
- var wowjs_link = "js/wow.min.js"
- var slim = true
- var slim_link = "js/slim.min.js"
- var popper = true
- var popper_link = "js/popper.min.js"
- var bootstrap = true
- var bootstrap_link = "js/bootstrap.min.js"
- var swiper = false
- var swiper_link = "js/swiper.min.js"
- var fancybox = false
- var fancybox_link = "js/jquery.fancybox.min.js"

//------------------------------ URL ------------------------------
- var Url = ""